<!--breadcrumb section start-->
<section class="agency breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="breadcrumb-text text-center">@Title</h2>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->

@code {
    [Parameter]
    public string Title { get; set; }
}
